*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;  
}
body{
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

a{
  text-decoration: none;
}
li{
  list-style: none;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "lp sidebar main rp";

  grid-template-columns: 5% 0.2fr 1fr 5%;
  grid-template-rows: 0.1fr 1fr;
  gap: 10px;
  height: 100vh;
}

.header {
  grid-area: header;
}

.r-padd, .l-padd{
  background-color: aqua;
}

.sidebar {
  grid-area: sidebar;
  background-color: #bb1c3f; 
}

.main {
  grid-area: main;
  background-color: #90ac3e;
}

/* header */
.header{
  border-bottom: 1px solid black;
  background-color: #999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6%;
}

.header .logo-search{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}
.header .logo-search img{
  width: 50px;
  height: auto;  
}

.header .search-area{
  background-color: white;
  padding: 5px 10px;
  border-radius: 20px;
  width: 300px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  gap: 20px;
} 

.header .search-area input{
  border: none;
  outline: none;
  /* background-color: #90ac3e; */
  width: 100%;
}

.header .search-area label i{
  cursor: pointer;
  color: rgba(0, 0, 0, 0.507) !important;
}

.header ul{
  display: flex;
  width: 20%;
  justify-content: space-between;
}

.header ul li a{
  display: flex;
  flex-direction: column;
  align-items: center;
}


