:root{
  --color-linkedin-blue: #0077B5;
  --color-dark-gray: #333333;
  --color-bgc-back: #F4F2EE;
  --color-white: #FFFFFF;
  --color-text: #333333;
  --color-title: #000000; 
  --color-subtitle: #555555;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --border-color: #DFDEDA;

}



.creat-post{
  background-color: var(--color-white);
  width: 100%;
  padding: 10px 0;
  border: 1px solid var(--border-color);
  border-radius: 20px;
}

.creat-post .img-input{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 5%;
}

.creat-post .img-input img{
  width: 60px;
  height: 60px;
  border: 2px solid var(--color-text);
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  flex-shrink: 0;
}

.creat-post .img-input textarea{
  background-color: #EDF3F8;
  width: 90%;
  border-radius: 30px;
  outline: none;
  border: 1px solid var(--border-color);
  resize: none;
  height: 60px;
  padding:  1% 0 0 20px;
} 

textarea::placeholder{
  color: var(--color-text);

}

.break-line-p-creat{
  border-top: 1px solid var(--border-color);
  width: 95%;
  margin: 2% auto;
}


.creat-post .post-media ul{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.creat-post .post-media ul li{
  display: flex;
  align-items: baseline;
  gap: 10px;
  padding: 15px 3%;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.4s;
}

.creat-post .post-media ul li i{
  color: var(--color-linkedin-blue);
}

.creat-post .post-media ul li:hover{
  background-color: var(--border-color);
}



/* sort by */
.sort-by{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sort-by hr{
  width: 35%;
}
.sort-by p{
  font-weight: bold;
  font-size: 14px;
}
.sort-by p span, .sort-by p span i{
  color: var(--color-linkedin-blue);
  cursor: pointer;

}



/* postes  : */

#postes-cont{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


/* post owner */
.creat-post .owner-info{
  width: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.creat-post .owner-info .owner{
  line-height: 1;
}
.creat-post .owner-info .owner small{
  color: var(--color-subtitle);
}


.creat-post .owner-info h2:hover{
  color: var(--color-linkedin-blue);
  cursor: pointer;
  text-decoration: underline;

}

.creat-post .paragraph{
  width: 90%;
  margin: 2% auto;
}

.creat-post .paragraph img{
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.creat-post .paragraph p .hashtags{
  color: var(--color-linkedin-blue);
  font-weight: bold;
  cursor: pointer;
}




@media screen and (max-width: 900px){
  .creat-post .img-input img{
    background-color: #0077B5;
    margin-right: 3%;

  }
  
  .creat-post .owner-info h2{
    font-size: 18px;
  }

  .creat-post .paragraph{
    font-size: 15px;
  }

}

@media screen and (max-width: 500px){
  .creat-post .img-input img{
    width: 50px;
    height: 50px;
  }

  .creat-post .paragraph{
    font-size: 14px;
  }

  .creat-post .post-media span{
    display: none;
  }


}

