:root{
    --color-linkedin-blue: #0077B5;
    --color-dark-gray: #333333;
    --color-bgc-back: #F4F2EE;
    --color-white: #FFFFFF;
    --color-text: #333333;
    --color-title: #000000; 
    --color-subtitle: #555555;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --border-color: #DFDEDA;
  
  }
.profile-container{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(7,135px);
    gap: 10px;
    background-color: var(--color-bgc-back);
}

.profile-informations{
    grid-row: 1/5;
    overflow: hidden;
    border-radius: 15px;
    background-color: var(--color-white);
    border: solid 1px var(--border-color);
}
.profile-cover{
    width: 100%;
    height: 30%;
    background-color: red;
    
}
.profile-cover img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.picture-user{
    width: 100%;
    height: 20px;
    position: relative;
}
.picture-user img{
    position: absolute;
    border-radius: 100%;
    transform: translateX(50%) translateY(-50%);
    border: 6px solid white;
    object-fit: cover;
    width: 100px;
    height: 100px;
}
.user-name{
    display: flex;
}
.user-name h2{
    display: flex;
    margin:  35px 20px 10px 20px ;
}
.user-name div{
    margin:  35px 20px 10px 20px ;
    padding: 0px 10px 2px 10px;
    /* width: 14%; */
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-self: center;
    border-radius: 30px;
    border: dotted rgb(37, 164, 223);
}
.user-name span {
    font-size: 25px;
    padding-right: 10px;
    color: rgb(37, 164, 223);
}
.user-name h3 {
    color: rgb(10, 136, 194);
}
.address-info{
    padding-left: 20px;
}
.address-info h3{
    color: var(--color-title);
    font-size: 17px;
    font-weight: normal ;
}
.address-info h4{
    color: var(--color-subtitle);
    font-size: 12px;
    font-weight: normal ;
}
.address-info h5{
    color: var(--color-subtitle);
    font-size: 12px;
    font-weight: normal ;
}
.profile-btn{
    padding: 10px 130px 15px 20px;
    display: flex;
    justify-content: space-between;
}
.profile-btn button{
    padding: 3px 18px;
    border: solid 2px var(--color-linkedin-blue);
    background-color: transparent;
    border-radius: 30px;
    color: var(--color-linkedin-blue);
    font-size: 15px;
    font-weight: 600;
}
.profile-btn button:first-child{
    padding: 3px 18px;
    border: solid 2px var(--color-linkedin-blue);
    background-color: var(--color-linkedin-blue);
    border-radius: 30px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}
.section-cards{
    width: 100%;
    padding-left: 10px;
    height: 25%;
    display: flex;
    overflow-y: hidden;
}
.section-cards .develop-card{
    background-color: var(--color-white);
    margin: 10px 20px 10px 0px;
    width: 405px;
    overflow: hidden;
    display: flex;
    flex-shrink: 0;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 0px #555555;
    padding: 15px 15px 0px 15px;
    justify-content: space-between;
}
.section-cards .develop-card:first-child{
    background-color: rgba(99, 165, 250, 0.822);
}

.info-section h2{
    font-size: 18px;
    padding-bottom: 8px;
}
.info-section h3{
    padding-bottom: 18px;
    font-weight: normal;
    font-size: 13px;
}
.info-section a {
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 100px;
    color: var(--color-linkedin-blue);
}

.profile-experiences{
    grid-row: 5/6;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--color-white);
    border: solid 1px var(--border-color);
}
.titel-experience{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
}
.experience-content{
    padding-top: 10px;
}
.linkedin-img{
    display: flex;
    width: 100%;
}
.linkedin-img .img-cadr{
    display: flex;
    width: 60px;
    height: 60px;
}
.tall{
    width: 100%;
    height: 90%;
}
.tall img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.experience{
    width: 100%;
    padding-left: 7px;
}
.experience h1{
    font-size: 20px;
}
.experience h3{
    font-size: 13px;
    font-weight: normal;
}
.experience h4{
    font-size: 10px;
    font-weight: normal;
    color: #555555;
}
.icons-experionse{
    /* background-color: red; */
    padding: 5px;
    width: 7%;
    display: flex;
    justify-content: space-between;
}
.icons-experionse i{
    font-size: large;
}

.formation-1{
    height: 100%;
    /* background-color: red; */
    padding-bottom: 25px;
}


.profile-formations{
    padding: 10px;
    grid-row: 6/8;
    border-radius: 20px;
    background-color: var(--color-white);
    border: solid 1px var(--border-color);
}
.profile-formations .titel-experience{
    height: 15%;
}

@media (max-width: 730px) {
    .profile-btn{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 0;
        padding-right: 10px;
    }
    .profile-btn button{
        margin-bottom: 10px;
        padding-right: 0px;
    }
    .icons-experionse{
        padding: 5px;
        width: 10%;
        display: flex;
        justify-content: space-between;
    }
    .icons-experionse i{
        font-size: medium;
    }
    .profile-container{
        grid-template-rows: repeat(8,135px);
    }
    .profile-formations{
        padding: 10px;
        grid-row: 6/9;
        border-radius: 20px;
        background-color: var(--color-white);
        border: solid 1px var(--border-color);
    }
    .user-name h2{
        display: flex;
        margin:  35px 0px 10px 20px ;
        font-size: 20px;
    }
}
@media (max-width: 460px) {
    .user-name h2{
        display: flex;
        margin:  35px 0px 5px 20px ;
        font-size: 18px;
    }
    .address-info h3{
        font-size: 14px;
    }
}
@media (max-width: 390px) {
    .profile-btn button{
        font-size: 13px;
        color: #000;
    }
    .His-goals{
        font-size: 13px !important;
    }
    .section-cards .develop-card{
        background-color: var(--color-white);
        margin: 10px 20px 10px 0px;
        width: 285px;
    }
    .info-section h3{
        padding-bottom: 8px;
    }
}
@media (max-width: 350px) {
    .add-section{
        display: none;
    }
}