:root{
  --color-linkedin-blue: #0077B5;
  --color-dark-gray: #333333;
  --color-bgc-back: #F4F2EE;
  --color-white: #FFFFFF;
  --color-text: #333333;
  --color-title: #000000; 
  --color-subtitle: #555555;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --border-color: #DFDEDA;

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--color-title);  
}


body{
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  background-color: var(--color-bgc-back);
}

a{
  text-decoration: none;
}
li{
  list-style: none;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "lp sidebar main rp";

  grid-template-columns: 5% 0.2fr 1fr 5%;
  grid-template-rows: 0.1fr 1fr;
  gap: 10px;
  height: 100vh;
}

.header {
  grid-area: header;
}

.r-padd, .l-padd{
  background-color: var(--color-bgc-back);
  /* visibility: hidden; */
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--color-white); 
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* header */
.header{  
  border-bottom: 1px solid var(--border-color);
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6%;
}

.header .logo-search{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}
.header .logo-search img{
  width: 50px;
  height: auto;  
}

.header .search-area{
  background-color: #EDF3F8;
  padding: 5px 10px;
  border-radius: 20px;
  width: 300px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  gap: 20px;
} 

.header .search-area input{
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
}

.header .search-area label i{
  cursor: pointer;
  color: var(--color-dark-gray) !important;
}

.header ul{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.header ul li a{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 5px 20px;
}

.header ul li a::after{
  position: absolute;
  content: '';
  width: 0%;
  height: 2px;
  border-radius: 10px;
  background-color: var(--color-title);
  bottom: -10px;
  transition: 0.4s all;
}

.header ul li a:hover::after{
  width: 100%;
}

#nav-active::after{
  width: 100% !important;
}


/* fin header */






