:root{
  --color-linkedin-blue: #0077B5;
  --color-dark-gray: #333333;
  --color-bgc-back: #F4F2EE;
  --color-white: #FFFFFF;
  --color-text: #333333;
  --color-title: #000000; 
  --color-subtitle: #555555;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --border-color: #DFDEDA;

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--color-title);  
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}


body{
  background-color: var(--color-bgc-back);
}

a{
  text-decoration: none;
}
li{
  list-style: none;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "lp sidebar main rp";

  grid-template-columns: 5% 0.3fr 1fr 5%;
  grid-template-rows: auto 1fr;
  gap: 10px;
  height: 100vh;
}

.header {
  grid-area: header;
  position: relative;

}

.r-padd, .l-padd{
  background-color: var(--color-bgc-back);
  /* visibility: hidden; */
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 10px;

  border-radius: 20px;
  height: 90vh;
  overflow: scroll;
  overflow-x: hidden;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* header */
.header{  
  border-bottom: 1px solid var(--border-color);
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6%;
}

.header .logo-search{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}
.header .logo-search img{
  width: 50px;
  height: auto;  
}

.header .search-area{
  background-color: #EDF3F8;
  padding: 5px 10px;
  border-radius: 20px;
  width: 100%;
  margin-left: 5px;
  display: flex;
  align-items: center;
  gap: 20px;
} 

.header .search-area input{
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
}

.header .search-area label i{
  cursor: pointer;
  color: var(--color-dark-gray) !important;
}

.header ul{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.header ul li a{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 5px 20px;
}

.header ul li a::after{
  position: absolute;
  content: '';
  width: 0%;
  height: 2px;
  border-radius: 10px;
  background-color: var(--color-title);
  bottom: 0%;
  transition: 0.4s all;
}


.header ul li a:hover::after{
  width: 100%;
}

#nav-active::after{
  width: 100% !important;
}


/* fin header */





/* side bar */

.sidebar {
  display: grid;
  grid-template-rows: repeat(30,1fr);
  row-gap: 10px;
  height: auto;
  background-color: var(--color-bgc-back);
 
}

.miniProfile {
  border-radius: 20px;
  grid-row: 1/14;
  background-color: var(--color-white);
  border: solid 1px var(--border-color);
  overflow: scroll;
  overflow-x: hidden;

  -ms-overflow-style: none;
  scrollbar-width: none;
}
.cover{
  border-radius: 20px 20px 0px 0px;
  height: 30%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cover img{
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.userInfo{
  background-color: var(--color-white);
  height: 65%;
  border-radius: 0px 0px 20px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 15px;
}
.mini-profile-pic{
  width: 100%;
  height: 12%;
}
.mini-profile-pic img{
  position: absolute;
  top: -35px;
  left: 20px;
  background-color: black;
  height: 70px;
  width: 70px;
  border-radius: 100px;
  border: solid 4px var(--color-white);
  object-fit: cover;
  cursor: pointer;
}

.userInfo h2{
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.userInfo h2:hover{
  text-decoration: underline;
}

.userInfo .adress h3{
  font-size: 13px;
  color: #00000095;
  font-weight: unset;
}
.userInfo h3:last-of-type {
  font-size: 10px;
  color: #00000089;
  font-weight: unset;
}


.local {
  background-color: var(--color-white); 
  border-radius: 20px;
  grid-row: 14/18;
  border: solid 1px var(--border-color);
  display: grid;
  grid-template-columns: 2% 12% auto;
  grid-template-rows: 32.5% 35% 32.5%;
  column-gap: 10px;
}
.usa-flag{
  grid-column: 2/3;
  grid-row: 2/3;

  overflow: scroll;
  overflow-x: hidden;

  -ms-overflow-style: none;
  scrollbar-width: none;
}
.usa-flag img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.local h2{
  grid-column: 3/-1;
  grid-row: 2/3;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #00000095;
  font-weight: unset;
}

.setting {
  background-color: var(--color-white); 
  border-radius: 20px;
  grid-row: 18/31;
  padding: 14px 15px;
  border: solid 1px var(--border-color);

  overflow: scroll;
  overflow-x: hidden;

  -ms-overflow-style: none;
  scrollbar-width: none;
  


}
.setting ul{
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.setting ul li{
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
}
.setting ul li:hover{
  background-color: var(--color-bgc-back);

}

.setting ul li i{
  margin-right: 7px;
  font-size: 15px;
  width: 20px;
  height: 15px;
}
.setting ul li h3{
  font-size: 8px;
  color: var(--color-bgc-back);
  background-color: black;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  
}


/* toggle burger */
.toggle{
  width: 37px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.4s;
  display: none;
}
.toggle .line{
  transition: 0.4s;
  width: 100%;
  height: 6px;
  border-radius: 10px;
  background-color: black;
}
.change {
  transition: 0.4s;
}
.change .se{
  display: none;
  transition: 0.4s;
}
.change .fr{
  transform: translateY(9.5px) rotate(45deg);
  transition: 0.4s;
}
.change .la{
  transform: translateY(-9.5px) rotate(-45deg);
  transition: 0.4s;
  background-color: var(--color-linkedin-blue);
  box-shadow: 0px 1px 5px var(--color-dark-gray);
}
















@media screen and (max-width: 1050px){

  .sidebar{
    background-color: red ;
    display: none;
  }
  .grid-container {
    grid-template-areas:
      "header header header header"
      "lp main main rp";
  
  }

  .header .logo-search{
    width: 40%;
  }

}

@media screen and (max-width: 700px){
  .toggle{
    display: flex;
  }
  
  .header .logo-search{
    width: 80%;
    
  }
  
  /* menu mobile */
  .nav-full{
    /* display: none !important; */
    position: absolute;
    background-color: var(--color-white);
    /* border: 1px solid var(--border-color); */
    box-shadow: 0 1px 5px var(--color-subtitle);
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    padding: 0 6%;
    height: 0;
    align-items: center;
    overflow: hidden;
    transition: 0.4s;
  }

  .hidd-menu{
    height: 100px;
  }


}








